<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="col-xl-12 alert alert-light">
        <h1>Article Editing Form</h1>
      </div>
      <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
