<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-1 alert alert-light">
            <h1>Articles List</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <p></p>
          </div>
        </div>
      </div>
      <%= render 'article', obj: @articles %>
    </div>
  </div>
</div>
