<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="col-xl-12 alert alert-light">
        <h1>Edit Your Account</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>
