<div class="center container">
  <div class="row">
    <div class="col-md-8 offset-md-1 alert alert-light">
      <h1>List Of Alpha Bloggers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 ">
      <p></p>
    </div>
  </div>
</div>
<div align="center>"
  <% @users.each do |user| %>
    <div class="center container">
      <div class="row">
        <div class="card col-md-8 offset-md-1 bg-light">
          <div class="card-body">
            <div class="card-title"><%= link_to gravatar_for(user), user_path(user) %>
            </div>
            <div class="card-title">
              <%= link_to user.username, user_path(user), class:"card-title-custom"  %>
            </div>
              <div class="article-meta-details"><small><%= pluralize(user.articles.count, "article") if user.articles %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>&nbsp;</p> 
  <% end %>
</div>
<br>

<%= link_to 'New User', new_user_path %>
