<center>
  <h1>About Us</h1>
  <%= link_to 'Home', root_path %>
  <p><img src="https://picsum.photos/800/200"></p>
  <h3>All about nothing!</h3>
  <p>We have no history in regard to ruby on rails but we are learning.</p>
</center>