<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Welcome To Alpha Blog</h1>
    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Alpha Blog. Here you will find many interesting articles.</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'About', about_path, class: 'btn btn-success' %>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Alpha Blog', articles_path, class: 'btn btn-success' %>
  </div>
</div>