<center>
  <h1>Welcome Home</h1>
  <%= link_to 'About', about_path %>
  <p><img src="https://picsum.photos/800/200"></p>
  <h3>Home of the few!</h3>
  <p>Welcome to our home page. Here you will find very little.</p>
</center>