<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="col-xl-12 alert alert-light">
        <h1 align="center">Edit Category</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-md-2">
          <% if @category.errors.any? %>
        <p>
          <% @category.errors.full_messages.each do |msg| %>
            <p class="alert alert-danger"><%= msg %></p>
          <% end %>
        </p>
      <% end %>
      <%= render 'form'%>
    </div>
  </div>
</div>